//Aleo Font
@font-face {
    font-family: "Aleo";
    src: url("/fonts/aleo/Aleo-Bold.otf") format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Aleo";
    src: url("/fonts/aleo/Aleo-BoldItalic.otf") format('truetype');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Aleo";
    src: url("/fonts/aleo/Aleo-Italic.otf") format('truetype');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Aleo";
    src: url("/fonts/aleo/Aleo-Light.otf") format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Aleo";
    src: url("/fonts/aleo/Aleo-LightItalic.otf") format('truetype');
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Aleo";
    src: url("/fonts/aleo/Aleo-Regular.otf") format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

// Brandon Grotesque Font
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-Black.otf") format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-BlackItalic.otf") format('truetype');
    font-style: italic;
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-Bold.otf") format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-BoldItalic.otf") format('truetype');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-Light.otf") format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-LightItalic.otf") format('truetype');
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-Medium.otf") format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-MediumItalic.otf") format('truetype');
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-Regular.otf") format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-RegularItalic.otf") format('truetype');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-Thin.otf") format('truetype');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque-ThinItalic.otf") format('truetype');
    font-style: italic;
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: "Brandon";
    src: local('Brandon'), url("/fonts/brandon/BrandonGrotesque.otf") format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}